/*

 MobileZero stylesheet

*/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
}

p {
	margin-bottom: 10px;
}

a {
	color: #09F;
	/* text-decoration: none; */
}
a:hover { color: #0BF; }
a:active { color: #27D1FF; }

li {
	margin-left: 15px;
}

#header, #footer {
	width: 100%;
	background-color: #b8c9df;
	background-image: url('../images/background_highlight.png');
	background-repeat: repeat-x;
	color: #555;
	text-shadow: 0px 1px 0px #FFF;
}

#header {
	position: fixed;
	z-index: 10;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background-size: 44px 44px;
}

#header a, #footer a {
	color: white;
	text-decoration: none;
	text-shadow: none;
}

#header a {
	display: inline-block;
	position: absolute;
	top: 7px;
	cursor: pointer;
	width: 60px;
	height: 29px;
	border-radius: 7px;
	line-height: 29px;
	background-size: 60px 29px;
	background-image: url('../images/background_highlight_inset.png');
	background-color: #9eacbf;
	text-shadow: 0px -1px 0px #778290;
	font-size: 80%;
	font-weight: bold;
}

#header a:hover {
	background-color: #b1c1d6;
}

#header .left {
	left: 8px;
}

#header .right {
	right: 8px;
}

#header h1 {
	position: relative;
	text-align: center;
	left: 50%;
	margin-left: -160px;
	width: 320px;
	font-size: 22px;
	text-shadow: 0px 1px 0px #FFF;
}

#content {
	position: relative;
	top: 44px;
	left: 50%;
	width: 300px;
	margin-left: -160px;
	padding: 10px;
}

#footer {
	/*
	// Use this instead if you need a footer that floats down with the content
	
	position: relative;
	top: 30px;
	*/
	position: absolute;
	bottom: 0px;
	height: 25px;
	background-size: 44px 26px;
	line-height: 25px;
	font-size: 75%;
	text-align: center;
}

input, textarea, select, button, .button {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 100%;
	line-height: 25px;
	margin: 5px 0px 5px 0px;
	border-radius: 8px;
	padding: 3px 5px 3px 5px;
	outline: none;
	width: 290px;
}

input[type="radio"], input[type="checkbox"] {
	width: 29px;
	height: 25px;
	background-color: #9dbadf;
}

input[type="submit"], input[type="button"], button, .button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 300px;
	height: 42px;
	line-height: 42px;
	text-decoration: none;
	text-align: center;
	font-size: 130%;
	font-weight: bold;
	color: white;
	background-color: #0099FF;
	text-shadow: 0px -1px 0px #336699;
	border: 1px solid #336699;
	padding: 0px;
	background-image: url('../images/background_highlight.png');
	background-repeat: repeat-x;
	background-size: 44px 42px;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover, .button:hover {
	background-color: #36afff;
	color: white;
}

input[type="submit"]:active, input[type="button"]:active, button:active, .button:active {
	left: 1px;
	top: 1.5px;
}